// html {
//   // scroll-behavior: smooth;
// }

body {
	line-height: 1;
  font-family: $openReg;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  position: relative;
  z-index: auto;
  background: url(/img/header_bg.jpg) no-repeat top center/cover;
  color: $white;
  background-color: #000;
  height: 2630px;
}
.wrapper {
  max-width: 1750px;
  width: 100%;
  margin: 0 auto;
  padding:  0 10px;

}

.container {
  max-width: 1460px;
  padding: 0 15px;
  margin: 0 auto;
}